{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


{% block body %}

    {% block header %}
    {% endblock %}

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

{% endblock %}